!!!
%html
  %head
    %title NestedSetApp
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
    = yield(:head)
  %body
    .container
      = render 'layouts/navigation'
      = yield
